h1{
    text-align: center;
}
#header>p{
    text-align: center;
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
}
#doctors{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 20px;
    width: 80%;
    margin: auto;

}
#doctors>div{
    line-height:1.2;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid black;
}
#doctors>div>img{
    width: 100%;
    height: 250px;
}
#doctors>div>div{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 10px 20px;
}
h3+h6{
    margin: -10px;
}
#doctors>div>div>button:last-child{
    border-radius: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: rgb(247, 116, 116);
}
#service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
    width: 80%;
    gap: 20px;
    margin: auto;
    margin-top: 40px; 
}
#service>div{
    box-sizing: border-box;
    line-height: 1;
    text-align: center;
    /* border: 1px solid red; */
}
#service>div>img{
    width: 80%;
    height: 90px;
}

@media all and (min-width:451px) and (max-width:750px){
    #doctors{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    #header>p{
        width: 80%;
        line-height:1.3;
    }
    #service{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:auto;
    }
    #service>div{
        box-sizing: border-box;
        line-height: 1.2;
    }
}


@media all and (min-width:100px) and (max-width:450px){
    #doctors{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
    #doctors>div{
        line-height:1.2;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid black;
    }
    #header>p{
        width: 80%;
        line-height:1.3;
    }
    #service{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    #service>div{
        box-sizing: border-box;
        line-height: 1.2;
    }
}